*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: larger;
}
 /* ....About Section.... */

 .about-sec{
    margin-top: 25px;
  }
  .text-color{
    color: #000;
  }
  .bag-img{
    margin-top: 35px;
  }
  .bag-img{
    animation-name: imgLeft;
    animation-duration: 3s;
  
  }
  .about-text{
    animation-name:textRight;
    animation-duration: 3s;
  }
  @keyframes imgLeft {
    0%{
      transform:translateX(-120px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
    
  @keyframes textRight {
    0%{
      transform:translateX(30px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* ...BACKPACK SECTION... */

  .title-casual h1 {
      color: #363958;
      margin-top: 2em;
      margin-bottom: 1em;
  }

  /* ...TRAVEL SECTION... */


  .title-travel h1 {
    color: #363958;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  /* ...ABOUT SECTION... */

  .about-sec h1,p {
      color: #363958;
  }

  /* ...NABBAR.... */

  .nab-first ul li a{
      color: #3b3b3b;
      font-weight: 700;
      display: inline-block;
      
      
  }